<div class="p-2">
  <h2 class="text-2xl font-bold py-2">
    Feedback
  </h2>
  <div class="py-2">
    Hi, <%= @appointment.patient.name %>!
  </div>
  <div class="py-2">
    Please provide your feedback for the appointment with <%= @appointment.doctor.name %> on <%= @appointment.period_end.to_formatted_s(:long) %>.
  </div>
  <%= form_with model: [:appointment, @feedback_response] do |form| %>
    <div class="py-2">
      <%= form.label :nps_score, "On a scale of 1-10, would you recommend Dr. #{@appointment.doctor.name} to a friend or family member?" %>
      <div class="flex flex-wrap gap-3 items-center">
        <% (1..10).each do |value| %>
          <label class="flex items-center gap-1 cursor-pointer">
            <%= form.radio_button :nps_score, value, class: "text-blue-600" %>
            <span class="text-sm font-medium"><%= value %></span>
          </label>
        <% end %>
      </div>
    </div>
    <div class="py-2">
      <%= form.label :management_understood, "You were diagnosed with \"#{@appointment.diagnosis.human_readable}\". Did Dr. #{@appointment.doctor.name} explain how to manage this diagnosis in a way you could understand?" %>
      <div class="flex flex-wrap gap-3 items-center">
        <label class="flex items-center gap-1 cursor-pointer">
          <%= form.radio_button :management_understood, true, class: "text-blue-600" %>
          <span class="text-sm font-medium">Yes</span>
        </label>
        <label class="flex items-center gap-1 cursor-pointer">
          <%= form.radio_button :management_understood, false, class: "text-blue-600" %>
          <span class="text-sm font-medium">No</span>
        </label>
      </div>
    </div>
    <div class="py-2">
      <%= form.label :management_feedback, "Is there anything #{@appointment.doctor.name} could have explained better?" %>
      <p>
        <%= form.text_area :management_feedback, required: true, rows: 4,
                           class: "w-md px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
      </p>
    </div>
    <div class="py-2">
      <%= form.label :diagnosis_feedback, "How do you feel about being diagnosed with \"#{@appointment.diagnosis.human_readable}\"?" %>
      <p>
        <%= form.text_area :diagnosis_feedback, required: true, rows: 4,
                           class: "w-md px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
      </p>
    </div>
    <%= form.submit 'Submit feedback', class: "bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" %>
  <% end %>
</div>